
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Website</h1>

</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Örnek Web Sayfası</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Örnek için özel CSS stilleri */
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .box {
            padding: 20px;
            text-align: center;
            background-color: #ffffff;
            border: 1px solid #ced4da;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h3>Mücahit Yılmaz </h3>
                    <p>Software Developer</p>
                    <img src="~/MyPhoto.png" style="width: 150px;height: auto;" alt="Görsel 1">

                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <h3>BioFarma</h3>
                    <p>Mülakat</p>
                    <img src="~/sinav.png" style="width: 150px;height: auto;" alt="Görsel 2">
                </div>
            </div>
        </div>
    </div>


</body>
</html>
