@model List<ContactModel>
@{
    ViewData["Title"] = "getDatas";
}

<!DOCTYPE html>
<html>


<div class="container">
    <h2>Veriler</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Yaş</th>
                <th>Şehir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.City</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>